[Unit]
Description=SmakDBendpoint
After=network.target

[Service]
Restart=always
Type=simple
User=smak
ExecStart=java -jar /opt/SMAK/db-rest/target/chess-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target