---
BasedOnStyle: WebKit
IndentWidth: 4
---
Language: C
TabWidth: 4
PointerAlignment: Right
AlignAfterOpenBracket: true
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveDeclarations:
    Enabled: false
    AcrossEmptyLines: false
    AcrossComments: false
AlignEscapedNewlines: LeftWithLastLine
AlignArrayOfStructures: Left
---
